/* Universal Styles */
html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}


/* Bootstrap Overrides */
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover {
  color: #399bd1;
  background-color: inherit;
}

nav {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Jumbotron */
.jumbotron {
  height: 44rem;
  padding-top: 10rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}

.jumbotron h1 {
  font-family: "Monoton";
  font-size: 7.1rem;
}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

/* Featured project */
.featured-project .image-container {
  height: 25rem;
}

.image-container {
  overflow: hidden;
}

.featured-project img {
  padding-top: 20px;
}

.categories h3 {
  font-size: 1.3rem;
  color: #399bd1;
}
.categories li {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}
